<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:colorcode]} type="text" label="Colorcode" />
  <.input field={f[:symptom]} type="text" label="Symptom" />
  <.input field={f[:ward]} type="text" label="Ward" />
  <:actions>
    <.button>Save Patient</.button>
  </:actions>
</.simple_form>
