<.header>
  Doctor {@doctor.id}
  <:subtitle>This is a doctor record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/doctors/#{@doctor}/edit"}>
      <.button>Edit doctor</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@doctor.name}</:item>
  <:item title="Ward">{@doctor.ward}</:item>
</.list>

<.back navigate={~p"/doctors"}>Back to doctors</.back>
